<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEELM</title>
</head>
<body>
    <header class='form-header'>
        <h1>Hello World</h1>
        <p>Create a New Account</p>
    </header>

    <form class='registerform' name='registerform' method="POST" action="/register" >
        <div>
            <label for='fullname'>Name</label>
            <input id='fullname' name='fullname' type="text"/>
        </div>
        <div>
            <label for='email'>Email</label>
            <input id='email' name='email' type="email" placeholder="abc@example.com" />
        </div>
        <div>
            <label for='pwd'>PassWord</label>
            <input id='pwd' name='pwd' type="password" />
        </div>
        <div>
            <button  type="submit">Sign Up</button>
        </div>
    </form>
</body>
</html>